* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .header {
    display: flex;
    height: 60px;
    width: 100%;
  }
  
  .parteizquierda {
    background-color: #d2f4f8; 
    width: 25%;
  }
  
  .partederecha {
    background-color: #86ced7;  
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
  
  .rectangulos {
    display: flex;
    gap: 10px;
  }
  
  .rectangulo {
    width: 90px;
    height: 15px;
    border-radius: 2px;
  }
  
  .blanco {
    background-color: white;
  }
  
  .rojo {
    width: 50px;
    height: 15px;
    border-radius: 2px;
    background-color: coral;
  }

  .imagenizquierda {
    width: 205px;
    height: 180px;
    border-radius: 2px;
    margin-left:40px;
    margin-top: 30px;
    background-color: coral;
  }
  